<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <title>Запросчика Сайт</title>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    
    <link rel="stylesheet" href="/www/Website/index/receipt/Receipt.css">
    <link rel="stylesheet" href="/www/Middle-end/Compatibility.css">

    <!-- Todas as Fontes do Website AQUI! -->
    <style>
        @font-face {
            font-family: SamsungFont;
            src: url(/www/Website/fonts/SamsungSans-Regular.ttf);
        }
    </style>

    <noscript>Пожалуйста, включите Javascript, чтобы использовать эту страницу</noscript>
    <script type="module" src="/www/Website/index/receipt/Receipt.js"></script>
</head>

<body class="dark-mode-var1">
    <div class="container" id="back">
        <div class="container" id="configs">
            <div class="container dark-mode-var2" id="selected">
                <div class="flex-container" id="overflow">
                    <div class="container" id="log-account">
                        <h2 lang="pt-BR">Acesso à Conta</h2>
                        <h2 lang="en-US">Account's Access</h2>
                        <h2 lang="zh-CN">账户访问</h2>
                        <h2 lang="zh-TW">賬戶訪問</h2>

                        <h3 lang="pt-BR">Autentique-se para o Controle das Comandas</h3>
                        <h3 lang="en-US">Authenticate to Control the Receipts</h3>
                        <h3 lang="zh-CN">进行订单控制认证</h3>
                        <h3 lang="zh-TW">進行訂單控制認證</h3>

                        <div class="grid-container">
                            <div>
                                <label for="id_name" lang="pt-BR">Identificador</label>
                                <label for="id_name" lang="en-US">ID</label>
                                <label for="id_name" lang="zh-CN">标识符</label>
                                <label for="id_name" lang="zh-TW">標識符</label>

                                <input type="text" class="dark-mode-var3" id="id_name" lang="pt-BR" name="nome" placeholder="Insira o Identificador Aqui...">
                                <input type="text" class="dark-mode-var3" id="id_name" lang="en-US" name="nome" placeholder="Insert the ID Here...">
                                <input type="text" class="dark-mode-var3" id="id_name" lang="zh-CN"name="nome" placeholder="在这里输入标识符...">
                                <input type="text" class="dark-mode-var3" id="id_name" lang="zh-TW" name="nome" placeholder="在這裡輸入標識符...">
                            </div>
                            <div>
                                <label for="password" lang="pt-BR">Senha</label>
                                <label for="password" lang="en-US">Password</label>
                                <label for="password" lang="zh-CN">密码</label>
                                <label for="password" lang="zh-TW">密碼</label>

                                <input type="password" class="dark-mode-var3" id="password" lang="pt-BR" name="senha" placeholder="Insira a Senha Aqui...">
                                <input type="password" class="dark-mode-var3" id="password" lang="en-US" name="senha" placeholder="Insert a Password Here...">
                                <input type="password" class="dark-mode-var3" id="password" lang="zh-CN" name="senha" placeholder="在这里输入密码...">
                                <input type="password" class="dark-mode-var3" id="password" lang="zh-TW" name="senha" placeholder="在這裡輸入密碼...">
                            </div>
                            <div id="left" class="flex-container">
                                <input type="submit" id="submit" value="Log-In">
                            </div>
                        </div>
                    </div>
                    <div class="container" id="status-account">
                        <h2 lang="pt-BR">Olá, /CONTA/</h2>
                        <h2 lang="en-US">Hello, /CONTA/</h2>
                        <h2 lang="zh-CN">你好, /账户/</h2>
                        <h2 lang="zh-TW">你好, /賬戶/</h2>

                        <h3 lang="pt-BR">Você já pode Usufruir dos Recursos Internos :)</h3>
                        <h3 lang="en-US">You can now use The System's Resources :)</h3>
                        <h3 lang="zh-CN">你现在可以使用内部资源了 :)</h3>
                        <h3 lang="zh-TW">你現在可以使用內部資源了 :)</h3>

                        <svg id="happy_face" class="face feedback" version="1.1"  viewBox="0 0 130.2 130.2">
                            <circle class="path line" fill="none" stroke="#73AF55" stroke-width="5" stroke-miterlimit="10" cx="65.1" cy="65.1" r="59.1"/>
                            <line class="path line" x1="50" y1="40" x2="50" y2="60" stroke="#73AF55" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                            <line class="path line" x1="80" y1="40" x2="80" y2="60" stroke="#73AF55" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                            <path class="path line" d="M 45 75 Q 65 105 85 75" stroke="#73AF55" stroke-width="5" fill="none"/>
                        </svg>
                        
                        <div class="grid-container dark-mode-font1" id="infos">
                            <h4 lang="pt-BR">Data de Criação:</h4>
                            <h4 lang="en-US">Creation Date:</h4>
                            <h4 lang="zh-CN">创建日期:</h4>
                            <h4 lang="zh-TW">創建日期:</h4>
                            <p id="creation_day">*</p>

                            <h4 lang="pt-BR">Em Casos de Bugs, Reporte IMEDIATAMENTE</h4>
                            <h4 lang="en-US">In case of Errors, Report IMMEDIATELY</h4>
                            <h4 lang="zh-CN">如果出现错误，请立即报告</h4>
                            <h4 lang="zh-TW">如果出現錯誤，請立即報告</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-container dark-mode-var2" id="selector">
                <div class="flex-container" id="overflow">
                    <button id="log-account">
                        <label>
                            <img src="/www/Website//images/Common/Log In.png" alt="💳">
                        </label>
                        
                        <h2 class="dark-mode-var2" lang="pt-BR">Logar à Conta</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Login to Account</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">登录账户</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">登錄賬戶</h2>
                    </button>
                    <button id="status-account">
                        <label>
                            <img src="/www/Website//images/Common/Conta.png" alt="🫵">
                        </label>

                        <h2 class="dark-mode-var2" lang="pt-BR">Informações da Conta</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Account Informations</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">账户信息</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">賬戶信息</h2>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="main">
        <div class="menu" id="translate">
            <h2>
                <span lang="pt-BR">Língua Escolhida</span>
                <span lang="en-US">Preferred Language</span>
                <span lang="zh-CN">选择的语言</span>
                <span lang="zh-TW">選擇的語言</span>
            </h2>
            <ul id="options">
                <li>Português</li>
                <li>English</li>
                <li>简体中文 (Simplified Chinese)</li>
                <li>繁體中文 (Traditional Chinese)</li>
            </ul>
        </div>

        <header>
            <h1 lang="pt-BR">Pedidos da Feira</h1>
            <h1 lang="en-US">Fair's Receipts</h1>
            <h1 lang="zh-CN">市场订单</h1>
            <h1 lang="zh-TW">市場訂單</h1>

            <h2 class="dark-mode-font1" lang="pt-BR">Pedido Mais Antigo: /Pedido/</h2>
            <h2 class="dark-mode-font1" lang="en-US">Oldest Receipt: /Pedido/</h2>
            <h2 class="dark-mode-font1" lang="zh-CN">最老的订单: /订单/</h2>
            <h2 class="dark-mode-font1" lang="zh-TW">最老的訂單: /訂單/</h2>
        </header>
        <footer>
            <div class="flex-container dark-mode-font1" id="configs">
                <button id="visualise_mode">
                    <img src="/www/Website//images/Avaliação/Estrela.png" alt="☀️">
                </button>
                <button id="account">
                    <img src="/www/Website//images/Common/Conta.png" alt="💁">
                </button>
                <button id="language">
                    <img src="/www/Website//images/Common/Idioma.png" alt="🌐🔠">
                </button>
            </div>
            <div class="flex-container" id="receipts">
                <div class="grid-container" id="list">
                    <button class="container" id="copy">
                        <div class="flex-container dark-mode-var2" id="menu">
                            <h1 class="pagador">#1254</h1>
                            <table>
                                <tbody>
                                    <tr id="receipt">
                                        <td class="img">
                                            <img src="/www/Website//images/Common/Itens Dispostos/Água.png" alt="">
                                        </td>
                                        <td class="id">Geladinho</td>
                                        <td class="num">x1</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="flex-container" id="comment">
                                <h3>Comentário:</h3>   <p id="comentario">*</p>
                            </div>
                        </div>
                        <h2 class="name dark-mode-var1">*Meu Nome Completo*</h2>
                        <h3 class="hour dark-mode-font1" id="hora">00:00:00</h3>
                    </button>
                </div>

                <div class="container" id="error">
                    <svg id="sad_face" class="face feedback" version="1.1"  viewBox="0 0 130.2 130.2">
                        <circle class="path line" fill="none" stroke="#64b5f6" stroke-width="5" stroke-miterlimit="10" cx="65.1" cy="65.1" r="59.1"/>
                        <line class="path line" x1="50" y1="40" x2="50" y2="60" stroke="#64b5f6" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                        <line class="path line" x1="80" y1="40" x2="80" y2="60" stroke="#64b5f6" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                        <path class="path line" d="M 45 90 Q 65 60 85 90" stroke="#64b5f6" stroke-width="5" fill="none"/>
                    </svg>

                    <h2 class="dark-mode-font1" lang="pt-BR">Algo deu de Errado... :(</h2>
                    <h2 class="dark-mode-font1" lang="en-US">Something is wrong... :(</h2>
                    <h2 class="dark-mode-font1" lang="zh-CN">出了点问题... :(</h2>
                    <h2 class="dark-mode-font1" lang="zh-TW">出了點問題... :(</h2>

                    <h3 class="dark-mode-font1">ERRO: \Error\</h3>
                    <h4 class="dark-mode-font1">CÓDIGO: \Error Code\</h4>
                </div>
                <div class="container" id="empty">
                    <svg id="happy_face" class="face feedback" version="1.1"  viewBox="0 0 130.2 130.2">
                        <circle class="path line" fill="none" stroke="#73AF55" stroke-width="5" stroke-miterlimit="10" cx="65.1" cy="65.1" r="59.1"/>
                        <line class="path line" x1="50" y1="40" x2="50" y2="60" stroke="#73AF55" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                        <line class="path line" x1="80" y1="40" x2="80" y2="60" stroke="#73AF55" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                        <path class="path line" d="M 45 75 Q 65 105 85 75" stroke="#73AF55" stroke-width="5" fill="none"/>
                    </svg>

                    <h2 class="dark-mode-font1" lang="pt-BR">Nice :)</h2>
                    <h2 class="dark-mode-font1" lang="en-US">Good Job :)</h2>
                    <h2 class="dark-mode-font1" lang="zh-CN">干得好 :)</h2>
                    <h2 class="dark-mode-font1" lang="zh-TW">幹得好 :)</h2>

                    <h3 class="dark-mode-font1" lang="pt-BR">Todas as Comandas foram Recebidas!</h3>
                    <h3 class="dark-mode-font1" lang="en-US">All Receipts were Received!</h3>
                    <h3 class="dark-mode-font1" lang="zh-CN">所有订单已接收！</h3>
                    <h3 class="dark-mode-font1" lang="zh-TW">所有訂單已接收！</h3>
                </div>
            </div>
        </footer>
    </div>
</body>