<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="Cardápio do Paraná (3º Ano do E.M.)"/>

    <meta property="og:title"content="Cardápio do Paraná (3º Ano do E.M.)"/>
    <meta property="og:url" content="https://www.perimin.com.br/"/>
    <meta property="og:description" content="Venha saborear os melhores lanches aqui! (Ajude-nos, por favor)"/>
    <!-- AQUI -->    <meta property="og:image" content="//cdn.example.com/uploads/images/webpage_300x200.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_br"/>

    <meta name="twitter:card" content="summary"></meta>

    <title>É Paraná, guri hehehe</title>
    <meta name="robots" content="noindex">

    <link rel="shortcut icon" href="#">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    
    <link rel="stylesheet" href="/www/Website/index/index/Visualizador.css">
    <link rel="stylesheet" href="/www/Middle-end/Compatibility.css">
    <!-- Todas as Fontes do Website AQUI! -->
    <style>
        @font-face {
            font-family: SamsungFont;
            src: url(/www/Website/fonts/SamsungSans-Regular.ttf);
        }
    </style>

    <noscript>Пожалуйста, включите Javascript, чтобы использовать эту страницу</noscript>
    <script type="module" src="/www/Website/index/index/Visualizador.js"></script>
</head>

<body>
    <div class="container" id="back">
        <picture id="imagem">
            <source media="screen and (max-device-width: 1000px)" srcset="/www/Website//images/Visualizador/Cardápios/Cardápio_Mobile/pt-BR.png" style="height: 80%;">
            <img src="/www/Website//images/Visualizador/Cardápios/Cardápio_Físico/pt-BR.png" alt="Cardápio de Lanches e Bebidas">
        </picture>

        <div class="container" id="deck">
            <button id="plus">
                <img src="/www/Website//images/Visualizador/Zoom In.png" alt="➕">
            </button>
            <button id="minus">
                <img src="/www/Website//images/Visualizador/Zoom Out.png" alt="➖">
            </button>
            <button id="share">
                <img src="/www/Website//images/Visualizador/Compartilhar.png" alt="🧑">
            </button>
            <button id="light">
                <img src="/www/Website//images/Visualizador/Brilho.png" alt="☀️">
            </button>
            <button id="language">
                <img src="/www/Website//images/Common/Idioma.png" alt="🌐🔠">
            </button>
        </div>

        <div class="menu" id="translate">
            <h2>
                <span lang="pt-BR">Língua Escolhida</span>
                <span lang="en-US">Preferred Language</span>
                <span lang="zh-CN">选择的语言</span>
                <span lang="zh-TW">選擇的語言</span>
            </h2>
            <ul id="options">
                <li>Português</li>
                <li>English</li>
                <li>简体中文 (Simplified Chinese)</li>
                <li>繁體中文 (Traditional Chinese)</li>
            </ul>
        </div>
    </div>
</body>