@keyframes attention {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

@keyframes send {
    0% {transform: translate(0%,0%) rotate(0deg);}
    20% {transform: translate(-15%,10%) rotate(-45deg);}
    35%, 100% {transform: translate(125%,-130%) rotate(-45deg);}
}
@keyframes sended {
    0% {transform: translateX(-150%);}
    80% {transform: translateX(25%);}
    100% {transform: translateX(0%);}
}



body {
    position: absolute;
    margin: 0;

    width: 100%;
    min-height: 100vh;

    box-sizing: border-box;
}

body > .container {
    position: relative;
    height: 100%;
}


h1 {
    margin: 0;
    
    text-align: center;
    font-size: 3em;
}

p, h2, h3, h4 {
    overflow: hidden;

    max-width: 70vmin;
    margin: 1vmax auto 0 auto;
    line-height: 1.5em;

    text-align: center;
    font-size: 1em;
}
p, h3 {font-size: 0.85em;}
h4 {font-size: 0.6em;}


header {
    position: relative;
    align-content: baseline;

    padding: 5em 0 3em;
    height: auto;

    font-family: 'SamsungFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
}
.grid-container {display: grid;}

footer {
    position: relative;

    width: 100%;
    height: max-content;

    font-family: 'SamsungFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body > #main {padding: 5vmin;}

#cliente #menu, #main #notifications {
    padding: 1.5em;
    border-radius: 3vmin;
}
#main #notifications {
    position: absolute;
    overflow: hidden;
    display: none;
    z-index: 100;

    margin: 0 auto;
    padding: 1.5em;

    left: 0;
    right: 0;
    width: 70vmin;

    font-family: 'SamsungFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #969694;
    background-color: #f9f9f9;

    &.showIn {animation: notificationIN 
                    1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;}
    &.showOut {animation: notificationOUT 
                    1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;}
}

#main #notifications > h3 {margin: 0 auto;}
#main #notifications > h2 {
    margin: 0;
    font-size: 1.6em;

    font-weight: bold;

    &.confirm {color: #73AF55;}
    &.error {color: #D06079;}
}
#main #notifications > * {
    overflow-wrap: normal;
    display: none;
}
#main #notifications > svg {margin: 0 auto 0.5em auto;}


#configs {
    align-content: end;
    justify-content: end;
    margin-bottom: 1.5em;

    height: 3em;
    column-gap: 1.5vmax;
}
#configs button, #popup button, #send label {
    position: relative;
    cursor: pointer;
    display: inline-block;

    height: auto;
    aspect-ratio: 1 / 1;

    padding: 0.25vmax;
    border: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vmin;
    text-align: center;

    background: none;
}
#configs button img {height: 100%; }




#cliente {
    flex-direction: column;
    row-gap: 2vmax;
}

label {
    display: block;
    color: #64b5f6;
}

input[type="number"], #popup > #comnts span {
    appearance: textfield;

    padding: 0 0.5vmin 0.5vmin 0;
    border-radius: 0.25em;
    width: 87.5%;
    margin: 0;

    border-top: none;
    border-left: none;
    border-right: none;

    font-size: 1em;
    background: none;
    transition: border-color .15s, caret-color .15s
}

input[type="text"]:focus, #popup > #comnts span:focus {
    outline: none;
    caret-color: #64b5f6;
    border-color: #64b5f6;
}

#menu > svg {top: 7em; right: 7%; height: 1.75em;}
#loader {
    height: 1em;

    top: 7em;
    right: 7%;

    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 4px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
}


#list {
    height: 0;
    overflow: hidden;

    transform: translateY(25%);
    transition: height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.animate {transform: translateY(0%);}
}

#list #menu {margin-top: 1vmin;}

#list h2 {
    margin: 0 0 0 3vmin;
    text-align: left;
}

#list table {
    width: 100%;
    border-collapse: collapse;
}

#list th, td {
    padding: .75vmax;
    text-align: left;
}

#list .img {display: flex;}

#list .img img {
    height: 5vmin;
    font-size: 5vmin;
}

#list #button {
    justify-content: center;
    align-items: center;
    margin-top: 2vmax;
}
#list #infos {
    gap: 0.5vmax;
    grid-template-columns: 75% auto;
    margin-top: 1vmax;
}

#list button {
    position: relative;
    border: none;
    cursor: pointer;

    margin-left: auto;
    margin-right: auto;
    padding: 0.75em 12vmax;
    border-radius: 2em;

    font-size: 1.25em;

    color: white;
    background-color: #64b5f6;
}

#infos p,
#infos h3 {
    margin: 0;
    max-width: none;
    text-align: right;
}
#infos p {
    text-align: left;
    word-wrap: break-word;
}


#cliente #error {
    overflow: hidden;
    display: inline-block;

    height: 0;
    transform: translateY(50%);

    transition: height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.animate {transform: translateY(0%);}
}

#error h2 {
    margin: 0 auto;
    font-size: 1.6em;
}

#error > #sad_face {margin: 1.5em auto 0;}



#back {
    position: absolute;
    overflow: hidden;
    display: none;
    z-index: 100;

    width: 100%;
    
    background-color: rgba(104, 104, 104, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

    transition: all .5s cubic-bezier(0.39, 0.575, 0.565, 1);
    &.fade_in {
        background-color: rgba(104, 104, 104, 0.35);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

#popup {
    z-index: 100;
    position: absolute;
    display: inline-flex;

    row-gap: 2.5vmax;
    flex-direction: column-reverse;
    
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    width: 85vmin;
    padding: 20vmin 7vmin;

    font-family: 'SamsungFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transform: translateY(100%);
    transition: height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.animate {transform: translateY(0%);}
}

#popup h2 {
    margin: 0 auto .75em auto;
    max-width: 60vmin;
    
    font-size: 1.25em;
}

#popup > #review {order: 3;}
#popup > #comnts {order: 2;}
#popup > #submit {order: 1;}

#popup > #review, #popup > #comnts {
    position: relative;

    padding: 1.5em;
    border-radius: 3vmin;
}

#popup .container .flex-container {column-gap: 1vmax;}

#popup button, #send label {
    align-content: center;
    justify-content: center;

    height: 6vmax;
    aspect-ratio: 1 / 1;

    padding: 0.25vmax;
    border: none;
}

.attention {
    position: relative;
    animation: attention 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#popup button img {
    height: 80%;
    margin: auto;

    transform: scale(1);
    transition: transform 0.125s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.hold {transform: scale(1.35);}
}


#popup > #comnts {
    position: relative;
    display: none;

    padding: 1.5vmax;

    transform: translateY(150%);
    transition: width 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.animate {transform: translateY(0%);}
}

#popup > #comnts > label {
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

#comnts > label button {height: 5vmax;}
#comnts > label img {height: 75%;}

#comnts > label span {
    overflow: hidden;
    resize: none;

    width: 77.5%;
    height: auto;

    font-size: 1.2em;
    line-height: 2.75vmax;
}
span[contenteditable]:empty::before {content: attr(data-placeholder);}


#send {
    justify-content: end;
    display: none;

    margin: 0 13vmin;

    transform: translateY(950%);
    transition: height 2s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.animate {transform: translateY(0%);}
}
#send label {
    overflow: hidden;

    height: 8vmax;
    border-radius: 3.25vmin;
    background-color: #FFFCF2;
}
#send label img {
    position: relative;

    margin: auto;

    height: 60%;
    aspect-ratio: 1 / 1;

    &.send_loading {animation: send 2s cubic-bezier(0.32, 0.175, 0.885, 1.275) infinite;}
    &.loaded {animation: sended .65s cubic-bezier(0.32, 0.175, 0.885, 1.275);}
}

#send input[type="submit"] {
    display: none;
}