<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <title>Конфиденциальный Информационный Сайт о Ярмарке</title>
    <meta name="robots" content="noindex">

    <base href="/src/components/index/home/">
    <link rel="icon" type="image/x-icon" href="./../../../../favicon.png">
    
    <link rel="stylesheet" href="./Home.css">
    <link rel="stylesheet" href="./../../../services/Compatibility.css">

    <!-- Todas as Fontes do Website AQUI! -->
    <style>
        @font-face {
            font-family: SamsungFont;
            src: url(/src/components/fonts/SamsungSans-Regular.ttf);
        }
    </style>

    <noscript>Пожалуйста, включите Javascript, чтобы использовать эту страницу</noscript>
    <script type="module" src="./Home.js"></script>
</head>

<body class="dark-mode-var1">
    <div class="container" id="back">
        <div class="container" id="popup">
            <div class="container" id="pix">
                <h1>Atenção!</h1>
                <h2>Aqui está o pagamento por PIX :)</h2>
    
                <label class="flex-container" id="QRcode">
                    <img src="./../../images/Home/PIX.jpg"" alt="▶️">
                </label>
                <h3>Chave:<br>00020126580014BR.GOV.BCB.PIX013614b67d6d-8085-4620-a4fa-d4ae755b191c520400005303986540560.005802BR5918LUCAS CORREA MEIRA6009SAO PAULO62210517FeiraCultural20246304397E</h3>
                <h4>Valor: R$ 60,00</h4>
            </div>
        </div>
    </div>
    <div class="container" id="main">
        <div class="menu" id="translate">
            <h2>
                <span lang="pt-BR">Língua Escolhida</span>
                <span lang="en-US">Preferred Language</span>
                <span lang="zh-CN">选择的语言</span>
                <span lang="zh-TW">選擇的語言</span>
            </h2>
            <ul id="options">
                <li>Português</li>
                <li>English</li>
                <li>简体中文 (Simplified Chinese)</li>
                <li>繁體中文 (Traditional Chinese)</li>
            </ul>
        </div>

        <header>
            <h1 lang="pt-BR">Feira do Paraná :)</h1>
            <h1 lang="en-US">Paraná's Fair :)</h1>
            <h1 lang="zh-CN">巴拉那集市 :)</h1>
            <h1 lang="zh-TW">巴拉那集市 :)</h1>

            <h2 class="dark-mode-font1" lang="pt-BR">Lucro: /Lucro/</h2>
            <h2 class="dark-mode-font1" lang="en-US">Profit: /Profit/</h2>
            <h2 class="dark-mode-font1" lang="zh-CN">利润： /利润/</h2>
            <h2 class="dark-mode-font1" lang="zh-TW">利潤： /利潤/</h2>
        </header>

        <footer>
            <div class="flex-container dark-mode-font1" id="configs">
                <button id="visualise_mode">
                    <img src="./../../images/Avaliação/Estrela.png" alt="☀️">
                </button>
                <button id="language">
                    <img src="./../../images/Common/Idioma.png" alt="🈁">
                </button>
            </div>
            <div class="flex-container" id="informations">
                <div class="container" id="list">
                    <h2 class="dark-mode-font1" lang="pt-BR">Produtos Comprados</h2>
                    <h2 class="dark-mode-font1" lang="en-US">Purchased Products</h2>
                    <h2 class="dark-mode-font1" lang="zh-CN">购买的产品</h2>
                    <h2 class="dark-mode-font1" lang="zh-TW">購買的產品</h2>

                    <div class="container dark-mode-var2" id="menu">
                        <table>
                            <tbody>
                                <tr id="copy">
                                    <td class="hour">12:35:50</td>
                                    <td class="name">Dummy John Doe</td>
                                    <td class="value">R$ 0,00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="grid-container dark-mode-font1" id="infos">
                        <h3 lang="pt-BR">Valor Arrecadado:</h3>
                        <h3 lang="en-US">Gained Value:</h3>
                        <h3 lang="zh-CN">总收入：</h3>
                        <h3 lang="zh-TW">總收入：</h3>
                        <p id="total_value">*</p>

                        <h3 lang="pt-BR">Gastos Totais:</h3>
                        <h3 lang="en-US">Total Costs:</h3>
                        <h3 lang="zh-CN">总花费：</h3>
                        <h3 lang="zh-TW">總花費：</h3>
                        <p id="costs_made">*</p>

                        <h3 lang="pt-BR">Vendas Feitas:</h3>
                        <h3 lang="en-US">Sells Length:</h3>
                        <h3 lang="zh-CN">已售数量：</h3>
                        <h3 lang="zh-TW">已售數量：</h3>
                        <p id="sells_length">*</p>

                        <h3 lang="pt-BR">Falta de Estoque?</h3>
                        <h3 lang="en-US">Out of Stock?</h3>
                        <h3 lang="zh-CN">缺货？</h3>
                        <h3 lang="zh-TW">缺貨？</h3>
                        <p id="sold_old">*</p>
                    </div>
                </div>
                <div class="container" id="error">
                    <svg id="sad_face" class="face feedback" version="1.1"  viewBox="0 0 130.2 130.2">
                        <circle class="path line" fill="none" stroke="#64b5f6" stroke-width="5" stroke-miterlimit="10" cx="65.1" cy="65.1" r="59.1"/>
                        <line class="path line" x1="50" y1="40" x2="50" y2="60" stroke="#64b5f6" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                        <line class="path line" x1="80" y1="40" x2="80" y2="60" stroke="#64b5f6" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                        <path class="path line" d="M 45 90 Q 65 60 85 90" stroke="#64b5f6" stroke-width="5" fill="none"/>
                    </svg>

                    <h2 class="dark-mode-font1" lang="pt-BR">Algo deu de Errado... :(</h2>
                    <h2 class="dark-mode-font1" lang="en-US">Something is wrong... :(</h2>
                    <h2 class="dark-mode-font1" lang="zh-CN">出了点问题... :(</h2>
                    <h2 class="dark-mode-font1" lang="zh-TW">出了點問題... :(</h2>
                    
                    <h3 class="dark-mode-font1">ERRO: \Error\</h3>
                    <h4 class="dark-mode-font1">CÓDIGO: \Error Code\</h4>
                </div>
            </div>
        </footer>
    </div>
</body>