<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <title>Кассира Сайт</title>
    <meta name="robots" content="noindex">

    <base href="/src/components/index/index/">
    <link rel="icon" type="image/x-icon" href="./../../../../favicon.png">

    <link rel="stylesheet" href="./Caixa.css">
    <link rel="stylesheet" href="./../../../services/Compatibility.css">

    <!-- Todas as Fontes do Website AQUI! -->
    <style>
        @font-face {
            font-family: SamsungFont;
            src: url(/src/components/fonts/SamsungSans-Regular.ttf);
        }
    </style>

    <noscript>Пожалуйста, включите Javascript, чтобы использовать эту страницу</noscript>
    <script type="module" src="./Caixa.js"></script>
</head>

<body class="dark-mode-var1">
    <div class="container" id="back">
        <div class="container" id="configs">
            <div class="container dark-mode-var2" id="selected">
                <div class="flex-container" id="overflow">
                    <div class="container" id="log-account">
                        <h2 lang="pt-BR">Acesso à Conta</h2>
                        <h2 lang="en-US">Account's Access</h2>
                        <h2 lang="zh-CN">账户访问</h2>
                        <h2 lang="zh-TW">賬戶訪問</h2>

                        <h3 lang="pt-BR">Autentique-se para o Controle das Comandas</h3>
                        <h3 lang="en-US">Authenticate to Control the Receipts</h3>
                        <h3 lang="zh-CN">进行订单控制认证</h3>
                        <h3 lang="zh-TW">進行訂單控制認證</h3>

                        <div class="grid-container">
                            <div>
                                <label for="id_name" lang="pt-BR">Identificador</label>
                                <label for="id_name" lang="en-US">ID</label>
                                <label for="id_name" lang="zh-CN">标识符</label>
                                <label for="id_name" lang="zh-TW">標識符</label>

                                <input type="text" class="dark-mode-var3" id="id_name" lang="pt-BR" name="nome" placeholder="Insira o Identificador Aqui...">
                                <input type="text" class="dark-mode-var3" id="id_name" lang="en-US" name="nome" placeholder="Insert the ID Here...">
                                <input type="text" class="dark-mode-var3" id="id_name" lang="zh-CN"name="nome" placeholder="在这里输入标识符...">
                                <input type="text" class="dark-mode-var3" id="id_name" lang="zh-TW" name="nome" placeholder="在這裡輸入標識符...">
                            </div>
                            <div>
                                <label for="password" lang="pt-BR">Senha</label>
                                <label for="password" lang="en-US">Password</label>
                                <label for="password" lang="zh-CN">密码</label>
                                <label for="password" lang="zh-TW">密碼</label>

                                <input type="password" class="dark-mode-var3" id="password" lang="pt-BR" name="senha" placeholder="Insira a Senha Aqui...">
                                <input type="password" class="dark-mode-var3" id="password" lang="en-US" name="senha" placeholder="Insert a Password Here...">
                                <input type="password" class="dark-mode-var3" id="password" lang="zh-CN" name="senha" placeholder="在这里输入密码...">
                                <input type="password" class="dark-mode-var3" id="password" lang="zh-TW" name="senha" placeholder="在這裡輸入密碼...">
                            </div>
                            <div id="left" class="flex-container">
                                <input type="submit" id="submit" value="Log-In">
                            </div>
                        </div>
                    </div>
                    <div class="container" id="status-account">
                        <h2 lang="pt-BR">Olá, /CONTA/</h2>
                        <h2 lang="en-US">Hello, /CONTA/</h2>
                        <h2 lang="zh-CN">你好, /账户/</h2>
                        <h2 lang="zh-TW">你好, /賬戶/</h2>

                        <h3 lang="pt-BR">Você já pode Usufruir dos Recursos Internos :)</h3>
                        <h3 lang="en-US">You can now use The System's Resources :)</h3>
                        <h3 lang="zh-CN">你现在可以使用内部资源了 :)</h3>
                        <h3 lang="zh-TW">你現在可以使用內部資源了 :)</h3>

                        <svg id="happy_face" class="face feedback" version="1.1"  viewBox="0 0 130.2 130.2">
                            <circle class="path line" fill="none" stroke="#73AF55" stroke-width="5" stroke-miterlimit="10" cx="65.1" cy="65.1" r="59.1"/>
                            <line class="path line" x1="50" y1="40" x2="50" y2="60" stroke="#73AF55" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                            <line class="path line" x1="80" y1="40" x2="80" y2="60" stroke="#73AF55" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                            <path class="path line" d="M 45 75 Q 65 105 85 75" stroke="#73AF55" stroke-width="5" fill="none"/>
                        </svg>
                        
                        <div class="grid-container dark-mode-font1" id="infos">
                            <h4 lang="pt-BR">Data de Criação:</h4>
                            <h4 lang="en-US">Creation Date:</h4>
                            <h4 lang="zh-CN">创建日期:</h4>
                            <h4 lang="zh-TW">創建日期:</h4>
                            <p id="creation_day">*</p>

                            <h4 lang="pt-BR">Em Casos de Bugs, Reporte IMEDIATAMENTE</h4>
                            <h4 lang="en-US">In case of Errors, Report IMMEDIATELY</h4>
                            <h4 lang="zh-CN">如果出现错误，请立即报告</h4>
                            <h4 lang="zh-TW">如果出現錯誤，請立即報告</h4>
                        </div>
                    </div>
                    <div class="container" id="other-configurations">
                        <h2 lang="pt-BR">Configurações Extras</h2>
                        <h2 lang="en-US">Extra Settings</h2>
                        <h2 lang="zh-CN">额外设置</h2>
                        <h2 lang="zh-TW">額外設置</h2>

                        <h3 lang="pt-BR">Mude o que for Necessário para Ti</h3>
                        <h3 lang="en-US">Change as you wish</h3>
                        <h3 lang="zh-CN">修改所需内容</h3>
                        <h3 lang="zh-TW">修改所需內容</h3>

                        <div class="grid-container">
                            <div class="flex-container">
                                <h3 lang="pt-BR">Modo Escuro:</h3>
                                <h3 lang="en-US">Dark Mode:</h3>
                                <h3 lang="zh-CN">暗模式:</h3>
                                <h3 lang="zh-TW">暗模式:</h3>

                                <label class="switch">
                                    <input type="checkbox" id="darkMode">
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div class="flex-container">
                                <h3 lang="pt-BR">Modo de Teste (Preços):</h3>
                                <h3 lang="en-US">Test Mode (Prices):</h3>
                                <h3 lang="zh-CN">测试模式（价格）:</h3>
                                <h3 lang="zh-TW">測試模式（價格）:</h3>

                                <label class="switch">
                                    <input type="checkbox" id="select-priceMode">
                                    <span class="slider"></span>
                                </label>
                            </div>
                            <div class="flex-container center">
                                <h3 lang="pt-BR">Língua Escolhida:</h3>
                                <h3 lang="en-US">Preferred Language:</h3>
                                <h3 lang="zh-CN">选择的语言:</h3>
                                <h3 lang="zh-TW">選擇的語言:</h3>

                                <select class="dark-mode-var1" id="selectLangs">
                                    <option value="pt-BR">Português</option>
                                    <option value="en-US">English</option>
                                    <option value="zh-CN">简体中文 (Simplified Chinese)</option>
                                    <option value="zh-TW">繁體中文 (Traditional Chinese)</option>
                                </select>
                            </div>
                        </div>
                    </label>
                    </div>
                </div>
            </div>
            <div class="flex-container dark-mode-var2" id="selector">
                <div class="flex-container" id="overflow">
                    <button id="log-account">
                        <label>
                            <img src="./../../images/Common/Log In.png" alt="💳">
                        </label>
                        
                        <h2 class="dark-mode-var2" lang="pt-BR">Logar à Conta</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Login to Account</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">登录账户</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">登錄賬戶</h2>
                    </button>
                    <button id="status-account">
                        <label>
                            <img src="./../../images/Common/Conta.png" alt="🫵">
                        </label>

                        <h2 class="dark-mode-var2" lang="pt-BR">Informações da Conta</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Account Informations</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">账户信息</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">賬戶信息</h2>
                    </button>
                    <button id="other-configurations">
                        <label>
                            <img src="./../../images/Common/Configurações.png" alt="⚙️">
                        </label>

                        <h2 class="dark-mode-var2" lang="pt-BR">Configurações Adicionais</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Additional Configs.</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">其他设置</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">其他設置</h2>
                    </button>
                </div>
            </div>
        </div>
        <div class="container" id="continue">
            <div class="container dark-mode-var2" id="selected">
                <div class="flex-container" id="overflow">
                    <div class="container" id="check-products">
                        <h2 lang="pt-BR">Cheque o Pedido</h2>
                        <h2 lang="en-US">Check your Order</h2>
                        <h2 lang="zh-CN">检查您的订单</h2>
                        <h2 lang="zh-TW">檢查您的訂單</h2>

                        <h3 lang="pt-BR">Verifique se o Pedido Está de Acordo com o que Cliente Disse</h3>
                        <h3 lang="en-US">Notice if the Order is Right on Point with Client's say</h3>
                        <h3 lang="zh-CN">检查订单是否与客户所说一致</h3>
                        <h3 lang="zh-TW">檢查訂單是否與客戶所說一致</h3>

                        <div class="grid-container">
                            <table>
                                <tbody>
                                    <tr id="copy">
                                        <td class="img">
                                            <img src="./../../images/Common/Itens Dispostos/Água.png" alt="">
                                        </td>
                                        <td class="id">Geladinho</td>
                                        <td class="num">x1</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div id="left" class="flex-container">
                                <input type="submit" id="goComment" lang="pt-BR" value="Continuar Pagamento">
                                <input type="submit" id="goComment" lang="en-US" value="Continue Payment">
                                <input type="submit" id="goComment" lang="zh-CN" value="继续支付">
                                <input type="submit" id="goComment" lang="zh-TW" value="繼續支付">
                            </div>
                        </div>
                    </div>
                    <div class="container" id="put-comment">
                        <h2 lang="pt-BR">Comentários</h2>
                        <h2 lang="en-US">Comments</h2>
                        <h2 lang="zh-CN">评论</h2>
                        <h2 lang="zh-TW">評論</h2>
                        
                        <h3 lang="pt-BR">Antes de pagar, coloque comentário adicionar (se precisar)</h3>
                        <h3 lang="en-US">Before proceeding, add an additional comment (if needed)</h3>
                        <h3 lang="zh-CN">在支付前添加评论（如有需要）</h3>
                        <h3 lang="zh-TW">在支付前添加評論（如有需要）</h3>

                        <div class="grid-container">
                            <div>
                                <label for="comment" lang="pt-BR">Comentário</label>
                                <label for="comment" lang="en-US">Comment</label>
                                <label for="comment" lang="zh-CN">评论</label>
                                <label for="comment" lang="zh-TW">評論</label>

                                <input type="text" class="dark-mode-var3" id="comment" lang="pt-BR" name="nome" placeholder="Insira o Comentário Aqui...">
                                <input type="text" class="dark-mode-var3" id="comment" lang="en-US" name="nome" placeholder="Insert the Comment Here...">
                                <input type="text" class="dark-mode-var3" id="comment" lang="zh-CN" name="nome" placeholder="在这里输入评论...">
                                <input type="text" class="dark-mode-var3" id="comment" lang="zh-TW" name="nome" placeholder="在這裡輸入評論...">
                            </div>
                            <div id="left" class="flex-container">
                                <input type="submit" id="goPay" lang="pt-BR" value="Ir Pagar!">
                                <input type="submit" id="goPay" lang="en-US" value="Pay!">
                                <input type="submit" id="goPay" lang="zh-CN" value="支付！">
                                <input type="submit" id="goPay" lang="zh-TW" value="支付！">
                            </div>
                        </div>
                    </div>
                    <div class="container" id="select-payment">
                        <h2 lang="pt-BR">Selecione Formato de Pagamento</h2>
                        <h2 lang="en-US">Select Payment Method</h2>
                        <h2 lang="zh-CN">选择支付方式</h2>
                        <h2 lang="zh-TW">選擇支付方式</h2>

                        <div class="grid-container">
                            <button id="pix">
                                <label>
                                    <img src="./../../images/Caixa/PIX_Icon.png" alt="📲">
                                </label>
                                <h2>PIX</h2>
                            </button>
                            <button id="credito">
                                <label>
                                    <img src="./../../images/Caixa/Cartão_Icon.png" alt="💳">
                                </label>
                                <h2 lang="pt-BR">CARTÃO DE CRÉDITO</h2>
                                <h2 lang="en-US">CREDIT CARD</h2>
                                <h2 lang="zh-CN">信用卡</h2>
                                <h2 lang="zh-TW">信用卡</h2>
                            </button>
                            <button id="debito">
                                <label>
                                    <img src="./../../images/Caixa/Cartão_Icon.png" alt="💳">
                                </label>
                                <h2 lang="pt-BR">CARTÃO DE DÉBITO</h2>
                                <h2 lang="en-US">DEBT CARD</h2>
                                <h2 lang="zh-CN">借记卡</h2>
                                <h2 lang="zh-TW">借記卡</h2>
                            </button>
                            <button id="dinheiro_fisico">
                                <label>
                                    <img src="./../../images/Caixa/Continuar_Pagamento.png" alt="💰">
                                </label>
                                <h2 lang="pt-BR">DINHEIRO FÍSICO</h2>
                                <h2 lang="en-US">PHYSICAL MONEY</h2>
                                <h2 lang="zh-CN">现金</h2>
                                <h2 lang="zh-TW">現金</h2>
                            </button>
                        </div>
                    </div>
                    <div class="flex-container" id="process-payment">
                        <h2 lang="pt-BR">Processando Pedido</h2>
                        <h2 lang="en-US">Processing Receipt</h2>
                        <h2 lang="zh-CN">订单处理中</h2>
                        <h2 lang="zh-TW">訂單處理中</h2>

                        <h3 lang="pt-BR">Siga as Ordens Abaixo para Finalizar o Pagamento</h3>
                        <h3 lang="en-US">Follow the Instructions Below to Finish Payment</h3>
                        <h3 lang="zh-CN">按以下步骤完成支付</h3>
                        <h3 lang="zh-TW">按以下步驟完成支付</h3>
                        
                        <div class="flex-container">
                            <div id="pix" class="flex-container">
                                <label lang="pt-BR">Escaneie o QR Code Abaixo, Por Favor</label>
                                <label lang="en-US">Scan the QR Code Bellow, Please</label>
                                <label lang="zh-CN">请扫描下面的二维码</label>
                                <label lang="zh-TW">請掃描下面的二維碼</label>
                            </div>

                            <div id="credito" class="flex-container">
                                <label lang="pt-BR">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE CŔEDITO!!!</label>
                                <label lang="en-US">Use the Windowed App to Pay on the Terminal<br>Remember this shall be in CREDIT CARD OPTION!!!</label>
                                <label lang="zh-CN">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE CŔEDITO!!!</label>
                                <label lang="zh-TW">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE CŔEDITO!!!</label>

                                <div class="flex-container">
                                    <h3 lang="pt-BR">Preço do Item:</h3>
                                    <h3 lang="en-US">Item Price:</h3>
                                    <h3 lang="zh-CN">总价：</h3>
                                    <h3 lang="zh-TW">總價：</h3>
                                    <h3 id="preco_final">*</h3>
                                </div>
                            </div>
                            <div id="debito" class="flex-container">
                                <label lang="pt-BR">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE DÉBITO!!!</label>
                                <label lang="en-US">Use the Windowed App to Pay on the Terminal<br>Remember this shall be in DEBT CARD OPTION!!!</label>
                                <label lang="zh-CN">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE DÉBITO!!!</label>
                                <label lang="zh-TW">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE DÉBITO!!!</label>
                            
                                <div class="flex-container">
                                    <h3 lang="pt-BR">Preço do Item:</h3>
                                    <h3 lang="en-US">Item Price:</h3>
                                    <h3 lang="zh-CN">总价：</h3>
                                    <h3 lang="zh-TW">總價：</h3>
                                    <h3 id="preco_final">*</h3>
                                </div>
                            </div>
                            <div id="voucher" class="flex-container">
                                <label lang="pt-BR">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE DÉBITO!!!</label>
                                <label lang="en-US">Use the Windowed App to Pay on the Terminal<br>Remember this shall be in DEBT CARD OPTION!!!</label>
                                <label lang="zh-CN">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE DÉBITO!!!</label>
                                <label lang="zh-TW">Utilize o Aplicativo em Janela para Pagar na Maquininha<br>Lembre-se que é em CARTÃO DE DÉBITO!!!</label>
                            
                                <div class="flex-container">
                                    <h3 lang="pt-BR">Preço do Item:</h3>
                                    <h3 lang="en-US">Item Price:</h3>
                                    <h3 lang="zh-CN">总价：</h3>
                                    <h3 lang="zh-TW">總價：</h3>
                                    <h3 id="preco_final">*</h3>
                                </div>
                            </div>

                            <div id="dinheiro_fisico" class="flex-container">
                                <label for="pay" lang="pt-BR">Aperte o Botão para Concluir o Pedido</label>
                                <label for="pay" lang="en-US">Press the Button when Concluded</label>
                                <label for="pay" lang="zh-CN">按下按钮完成订单</label>
                                <label for="pay" lang="zh-TW">按下按鈕完成訂單</label>

                                <input type="submit" id="pay" lang="pt-BR" value="Ir Pagar!">
                                <input type="submit" id="pay" lang="en-US" value="Pay!">
                                <input type="submit" id="pay" lang="zh-CN" value="支付！">
                                <input type="submit" id="pay" lang="zh-TW" value="支付！">
                            </div>


                            <div id="sucesso" class="flex-container">
                                <svg id="happy_face" class="face feedback" version="1.1"  viewBox="0 0 130.2 130.2">
                                    <circle class="path line" fill="none" stroke="#73AF55" stroke-width="5" stroke-miterlimit="10" cx="65.1" cy="65.1" r="59.1"/>
                                    <line class="path line" x1="50" y1="40" x2="50" y2="60" stroke="#73AF55" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                                    <line class="path line" x1="80" y1="40" x2="80" y2="60" stroke="#73AF55" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                                    <path class="path line" d="M 45 75 Q 65 105 85 75" stroke="#73AF55" stroke-width="5" fill="none"/>
                                </svg>

                                <input type="submit" id="restart" lang="pt-BR" value="Começar Novamente!">
                                <input type="submit" id="restart" lang="en-US" value="Start over Again!">
                                <input type="submit" id="restart" lang="zh-CN" value="重新开始！">
                                <input type="submit" id="restart" lang="zh-TW" value="重新開始！">
                            </div>
                        </div>
                        <div class="feedback dark-mode-loader" id="loader"></div>
                    </div>
                </div>
            </div>
            <div class="flex-container dark-mode-var2" id="selector">
                <div class="flex-container" id="overflow">
                    <button id="check-products">
                        <label>
                            <img src="./../../images/Common/Modo Claro.png" alt="🫵">
                        </label>

                        <h2 class="dark-mode-var2" lang="pt-BR">Checar Pedidos</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Check Order</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">检查您的订单</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">檢查您的訂單</h2>
                    </button>
                    <button id="put-comment">
                        <label>
                            <img src="./../../images/Common/Comentário.png" alt="💬">
                        </label>

                        <h2 class="dark-mode-var2" lang="pt-BR">Colocar Comentários</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Add Comments</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">添加评论</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">添加評論</h2>
                    </button>
                    <button id="select-payment">
                        <label>
                            <img src="./../../images/Caixa/Cartão_Icon.png" alt="💳">
                        </label>

                        <h2 class="dark-mode-var2" lang="pt-BR">Selecionar Pagamento</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Select Payment</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">选择支付</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">選擇支付</h2>
                    </button>
                    <button id="process-payment">
                        <label>
                            <img src="./../../images/Caixa/Cartão_Icon.png" alt="💳">
                        </label>

                        <h2 class="dark-mode-var2" lang="pt-BR">Processando...</h2>
                        <h2 class="dark-mode-var2" lang="en-US">Processing...</h2>
                        <h2 class="dark-mode-var2" lang="zh-CN">处理中...</h2>
                        <h2 class="dark-mode-var2" lang="zh-TW">處理中...</h2>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="main">
        <header>
            <h1 lang="pt-BR">Caixa</h1>
            <h1 lang="en-US">Cashier</h1>
            <h1 lang="zh-CN">收银台</h1>
            <h1 lang="zh-TW">收銀台</h1>

            <h2 class="dark-mode-font1" lang="pt-BR">Preço Total: /Preco/</h2>
            <h2 class="dark-mode-font1" lang="en-US">Total Price: /Price/</h2>
            <h2 class="dark-mode-font1" lang="zh-CN">总价： /价格/</h2>
            <h2 class="dark-mode-font1" lang="zh-TW">總價： /價格/</h2>
        </header>
        <footer>
            <div class="flex-container" id="products">
                <div class="grid-container" id="list">
                    <div class="container dark-mode-var2" id="copy">
                        <div class="flex-container" id="quantity">
                            <button id="plus">+</button>
                            <h2 id="quant">01</h2>
                            <button id="minus">-</button>
                        </div>
                        <div class="flex-container" id="menu">
                            <div class="grid-container" id="select_product">
                                <div>
                                    <label for="produtos" class="infos">Selecionar Produto:</label>
                                    <select class="dark-mode-var1" id="produtos">
                                        <option value="">Selecione Aqui</option>
                                    </select>
                                    <svg viewBox="0 0 100 100">
                                        <path class="arrow" d="M20,35 L50,60 L80,35"/>
                                    </svg>
                                </div>

                                <div>
                                    <label for="sabor">Tamanho ou Sabor:</label>
                                    <select class="dark-mode-var1" id="sabor"  disabled>
                                        <option value="">!!!</option>
                                    </select>
                                    <svg viewBox="0 0 100 100">
                                        <path class="arrow" d="M20,35 L50,60 L80,35"/>
                                    </svg>
                                </div>

                                <div id="checkboxes">
                                    <label for="extra">Extra:</label>
                                    <div id="extra" class="grid-container">
                                        <div class="dark-mode-var1">
                                            <label for="1" class="infos">Opção 123</label>
                                            <input type="checkbox" id="1" value="test">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="price">
                                <h3>Preço do Item:</h3>   <p id="preco">*</p>
                            </div>
                        </div>
                    </div>

                    <button class="flex-container" id="add_item">
                        <label>+</label>
                    </button>
                </div>

                <div class="container" id="error">
                    <svg id="sad_face" class="face feedback" version="1.1"  viewBox="0 0 130.2 130.2">
                        <circle class="path line" fill="none" stroke="#64b5f6" stroke-width="5" stroke-miterlimit="10" cx="65.1" cy="65.1" r="59.1"/>
                        <line class="path line" x1="50" y1="40" x2="50" y2="60" stroke="#64b5f6" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                        <line class="path line" x1="80" y1="40" x2="80" y2="60" stroke="#64b5f6" stroke-width="10" stroke-linecap="round" stroke-miterlimit="10"/>
                        <path class="path line" d="M 45 90 Q 65 60 85 90" stroke="#64b5f6" stroke-width="5" fill="none"/>
                    </svg>

                    <h2 class="dark-mode-font1" lang="pt-BR">Algo deu de Errado... :(</h2>
                    <h2 class="dark-mode-font1" lang="en-US">Something is wrong... :(</h2>
                    <h2 class="dark-mode-font1" lang="zh-CN">出了点问题... :(</h2>
                    <h2 class="dark-mode-font1" lang="zh-TW">出了點問題... :(</h2>

                    <h3 class="dark-mode-font1">ERRO: \Error\</h3>
                    <h4 class="dark-mode-font1">CÓDIGO: \Error Code\</h4>
                </div>
            </div>
            <div class="container" id="deck">
                <button class="grid-container bright-mode-font1" id="configs">
                    <h2 lang="pt-BR">Configurações</h2>
                    <h2 lang="en-US">Configs.</h2>
                    <h2 lang="zh-CN">设置</h2>
                    <h2 lang="zh-TW">設置</h2>
                    <div>
                        <img src="./../../images/Common/Configurações.png" alt="⚙️">
                    </div>
                </button>
                <button class="grid-container bright-mode-font1" id="menu">
                    <div>
                        <img src="./../../images/Caixa/Continuar_Pagamento.png" alt="❕">
                    </div>
                    <h2 lang="pt-BR">Continuar</h2>
                    <h2 lang="en-US">Continue</h2>
                    <h2 lang="zh-CN">继续</h2>
                    <h2 lang="zh-TW">繼續</h2>
                </button>
            </div>
        </footer>
    </div>
</body>