<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ХАХАХАХАХАХАХАХА</title>
    <meta name="robots" content="noindex">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="stylesheet" href="/www/Website/index/404/404.css">

    <script type="module" src="/www/Website/index/404/404.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="container" id="background">
        <img id="Omor" src="/www/Website/images/404/Person.png" name="1" alt="Omor">
        <img id="Romo" src="/www/Website/images/404/Monstro.png" name="1" alt="Romo">


        <img id="DOOR" src="/www/Website/images/404/DOORS.png" name="1" alt="Red Door">

        <img id="door" src="/www/Website/images/404/Door.png" name="1" alt="Door">
        <img id="door" src="/www/Website/images/404/Door.png" name="2" alt="Door">
        <img id="door" src="/www/Website/images/404/Door.png" name="3" alt="Door">
        <img id="door" src="/www/Website/images/404/Door.png" name="4" alt="Door">


        <img id="amongus" name="1" src="/www/Website/images/404/AMONG US CIANO.png" alt="Among Us Cyan">
        <img id="amongus" name="2" src="/www/Website/images/404/AMONG US CIANO.png" alt="Among Us Cyan">

        <img id="amongus" name="3" src="/www/Website/images/404/AMONG US AMARELO.png" alt="Among Us Yellow">
        <img id="amongus" name="4" src="/www/Website/images/404/AMONG US AMARELO.png" alt="Among Us Yellow">
        
        <img id="amongus" name="5" src="/www/Website/images/404/AMONG US VERMELHO.png" alt="Among Us Red">
        <img id="amongus" name="6" src="/www/Website/images/404/AMONG US VERMELHO.png" alt="Among Us Red">
    </div>

    <div class="container" id="backbox">
        <div class="container">
            <a href="https://youtu.be/dQw4w9WgXcQ?si=mcgHKkNgeefkO85X"> <!-- https://www.perimin.com.br/Cardapio -->
                <img id="PORTA" src="/www/Website/images/404/Door.png" alt="Main Door">
            </a>
        </div>
    </div>
</body>