body {
    position: absolute;
    margin: 0;

    width: 100%;
    min-height: 100vh;

    box-sizing: border-box;
}

body > .container {
    position: relative;
    height: 100%;
}


h1 {
    margin: 0;
    
    text-align: center;
    font-size: 2.6em;
}

p, h2, h3, h4 {
    overflow: hidden;

    max-width: 70vmin;
    margin: .8em auto 0;
    line-height: 1.5em;

    text-align: center;
    font-size: 1em;
}
p, h3 {font-size: 0.85em;}
h4 {font-size: 0.6em;}


header {
    position: relative;
    align-content: baseline;

    padding: 5em 0 3em;
    height: auto;

    font-family: 'SamsungFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header > h2 {
    &.good {color: #73AF55;}
    &.bad {color: #D06079;}
    transition: color 1s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
}
.grid-container {display: grid;}

footer {
    position: relative;

    width: 100%;
    height: max-content;

    font-family: 'SamsungFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



body > #main {padding: 5vmin;}

#informations #menu {
    padding: 1.5em;
    border-radius: 3vmin;
}


#configs {
    align-content: end;
    justify-content: end;
    margin-bottom: 1.5em;

    height: 3em;
    column-gap: 1.5vmax;
}
#configs button, #popup button, #send label {
    position: relative;
    cursor: pointer;
    display: inline-block;

    height: auto;
    aspect-ratio: 1 / 1;

    padding: 0.25vmax;
    border: none;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vmin;
    text-align: center;

    background: none;
}
#configs button img {height: 100%; }




#informations {
    flex-direction: column;
    row-gap: 2vmax;
}

label {
    display: block;
    color: #64b5f6;
}

#menu > svg {height: 1.75em;}
#loader {
    height: 1em;

    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 4px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
}


#list {
    height: 0;
    overflow: hidden;

    transform: translateY(25%);
    transition: height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.animate {transform: translateY(0%);}
}

#list #menu {margin-top: 1vmin;}

#list h2 {
    margin: 0 0 0 3vmin;
    text-align: left;
}

#list table {
    width: 100%;
    border-collapse: collapse;
}

#list th, td {
    padding: 2vmin;
    text-align: left;
}

#list #infos {
    gap: 0.5vmax;
    grid-template-columns: 75% auto;
    margin-top: 2vmax;
}

#infos p,
#infos h3 {
    margin: 0;
    max-width: none;
    text-align: right;
}
#infos p {
    text-align: left;
    word-wrap: break-word;
}


#informations #error {
    overflow: hidden;
    display: inline-block;

    height: 0;
    transform: translateY(50%);

    transition: height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.animate {transform: translateY(0%);}
}

#error h2 {
    margin: 0 auto;
    font-size: 1.6em;
}

#error > #sad_face {margin: 0 auto 1em;}
#error > h4, #pix > h4 {margin: 0.25vmax auto 0;}



#back {
    position: absolute;
    overflow: hidden;
    display: none;
    z-index: 100;

    width: 100%;
    
    background-color: rgba(104, 104, 104, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

    transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    &.fade_in {
        background-color: rgba(104, 104, 104, 0.35);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

#popup {
    z-index: 100;
    position: absolute;
    display: inline-flex;

    row-gap: 2.5vmax;
    flex-direction: column-reverse;
    
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    width: 85vmin;
    padding: 20vmin 7vmin;

    font-family: 'SamsungFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transform: translateY(100%);
    transition: height 1s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.75s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    &.animate {transform: translateY(0%);}
}

#popup h2 {
    margin: 0 auto 2vmax auto;
    max-width: 60vmin;
    
    font-size: 1.25em;
    color: #969694;
}

#popup > #pix {
    position: relative;

    padding: 1.5em;
    border-radius: 3vmin;

    color: #FFFCF2;
    background-color: #1e1e1e;
}

#pix > #QRcode {
    max-height: 20em;
    aspect-ratio: 1/1;
    margin: 2em auto 1em;
}
#QRcode .img {height: 100%;}